// html, body, #app {
//   height: 100%;
// }

form {
  min-width: 50%;
}

.header{
  height: 40vh;
  background-color: #009688;
}

h1, h2 {
  color: #fff;
}

.thumbnail {
  height: 150px;

  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}

.full-width {
  padding-left: 0;
  padding-right: 0;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  padding: 40px;
  background-color: #009688;

  img {
    width: 300px;
    min-height: 200px;
  }
  h1 {
    color: #000;
  }

  .btn-link {
    color:white;
  }

  @media(max-width: 500px){
    width: 100%;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
